{%if builds != "No results."%}

<div class="n-box">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                {%if page > 0%}
                <button
                    onclick="updateSearchResult({{page-1}})"  
                    class="pi-image"
                    onclick="update"
                    style="
                            width:36px; height:36px;
                            border:none; 
                            background-color:transparent;
                            background-image: url(/static/Perk_high_gravity.png);
                            ">
                </button>
                {%else%}
                <button
                    class="pi-image"
                    style="
                            width:36px; height:36px;
                            border:none; 
                            background-color:transparent;
                            background-image: url(/static/Perk_high_gravity.png);
                            filter: grayscale(100%);
                            -webkit-filter: grayscale(100%);
                            "></button>
                {%endif%}
            </div>
            <div class="col-2 np-font d-flex justify-content-center">
                <span>{{page+1}}</span>
            </div>
            <div class="col-md-auto">
                {%if next_page%}
                <button
                    onclick="updateSearchResult({{page+1}});"  
                    class="pi-image"
                    onclick="update"
                    style="
                            width:36px; height:36px;
                            border:none; 
                            background-color:transparent;
                            background-image: url(/static/Perk_low_gravity.png);
                            ">
                </button>
                {%else%}
                <button
                    class="pi-image"
                    style="
                            width:36px; height:36px;
                            border:none; 
                            background-color:transparent;
                            background-image: url(/static/Perk_low_gravity.png);
                            filter: grayscale(100%);
                            -webkit-filter: grayscale(100%);
                            "></button>
                {%endif%}
            </div>
        </div>
</div>

{% for bld in builds %}
    {%if is_likes%}
        <div id="likes-build-{{bld['id']}}"class="my-3">
    {%else%}
        <div id="build-{{bld['id']}}"class="my-3">
    {%endif%}
        <div class="n-box mx-2">
            <div class="n-container mt-3">
                <div class="d-flex align-items-center justify-content-center" style="width: 256px;">
                    <div class="d-flex pi-image wand-frame align-items-center justify-content-center">
                        <img class="pi-image" src="/static/img/wands/wand_{{bld['image']}}.png" height="48px">
                    </div>
                </div>

                <div class="w-100 mx-2">
                    <span class="np-font" style="font-size: 24px;">{{bld['title']}}</span>
                    <div class="spell-slots-frame" style="margin-bottom:0%; margin-top:4px;">
                        {%for img in bld['spells']%}
                        <a class="spell-item {{img['css_type']}}">
                            {{img['img_html'] | safe}}
                        </a>
                        {%endfor%}
                    </div>
                </div>

                {% if 'user' in login_session%}
                {% if login_session['user']['id'] == bld['author']['id'] %}
                <a 
                    onclick="showDeleteBuild({{bld['id']}})"
                    style="cursor:pointer;"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-html="true"
                    title="<span class='np-font'>Delete this build</span>">
                    <img class="pi-image" src="/static/deleteNolla.png" height="36px"> 
                </a>
                {% endif %}
                {% endif %}
            </div>

            <div class="align-self-center align-items-center justify-content-start d-flex mx-1 my-1">
                <div class="w-100" onclick="window.location.href=`/user/{{bld['author']['id']}}`"
                style="cursor: pointer;">
                    <span class="np-font" style="font-size: 12px;">Created by</span>
                    <img class="rounded-circle" src="{{bld['author']['img']}}" height="32px">
                    <span class="np-font" style="font-size: 12px;">{{bld['author']['name']}}</span>
                </div>
                <span class="np-font">{{bld['likes']}}</span>
                {% if 'liked-posts' in login_session['user']%}
                {% for like in login_session['user']['liked-posts'] if bld['id'] == like%}
                <a 
                    onclick="updateLike('/updateLike/{{bld['id']}}')"
                    style="cursor:pointer;">
                    <img class="pi-image" src="/static/liked.gif" height="36px"> 
                </a>
                {% else %}
                <a 
                    onclick="updateLike('/updateLike/{{bld['id']}}')"
                    style="cursor:pointer;">
                    <img class="pi-image" src="/static/unliked.png" height="36px"> 
                </a>

                {% endfor %}
                {% else %}
                    <img class="pi-image" src="/static/unliked.png" height="36px"> 
                {% endif %}
                
            </div>

            <div class="d-flex mx-2 mt-3">
                <div class="n-column w-100" style="box-shadow: 0 -3px 0 #948064; background-color: rgba(60, 60, 60, 0.7)">
                    <span class="np-font my-1 mx-1" style="font-size: small; color:gray; font-style:italic;">Description:</span>
                    <span class="np-font my-1 mx-1" style="font-size:medium">{{bld['description']}}</span>
                </div>
            </div>

            {%if is_likes%}
                <div id="likes-comment-section-{{bld['id']}}">
            {%else%}
                <div id="comment-section-{{bld['id']}}">
            {%endif%}

            {% if 'user' in login_session%}
            <form 
                {%if is_likes%}
                    id="likes-{{bld['id']}}" 
                {%else%}
                    id="{{bld['id']}}" 
                {%endif%}
                class="d-flex align-items-center m-4" 
                action="javascript:void(0);">
                <img class="rounded-circle mx-3" src="{{login_session['user']['img']}}" height="48px">
                <div class="w-100 mx-2">
                    <textarea
                        {%if is_likes%}
                            id="likes-comment-{{bld['id']}}"
                        {%else%}
                            id="comment-{{bld['id']}}"
                        {%endif%}
                        name="comment"
                        class="np-font mx-2 w-100" 
                        style="resize: none;box-shadow: 0 3px 0 #948064; background-color:rgba(60, 60, 60, 0.7); color:white;" 
                        placeholder="Add a comment!"
                        oninput="auto_grow(this)"
                        rows="1"
                        maxlength="400"></textarea>

                    {%if is_likes%}
                        <span id="likes-comment-{{bld['id']}}-warning" class="np-font mx-2 " style="color:rgba(198,59,59,0.7)"></span>
                    {%else%}
                        <span id="comment-{{bld['id']}}-warning" class="np-font mx-2 " style="color:rgba(198,59,59,0.7)"></span>
                    {%endif%}
                    
                </div>
                {%if is_likes%}
                    <input id="likes-date-{{bld['id']}}" type="text" name='date' hidden>
                {%else%}
                    <input id="date-{{bld['id']}}" type="text" name='date' hidden>
                {%endif%}
                <input  
                    class="pi-image n-submit"
                    type="submit" 
                    style="
                        width:36px; height:36px;
                        border:none; 
                        background-color:transparent;
                        background-image: url(/static/send.png);
                        "
                    value="">
            </form>
            {%endif%}
            <div class="w-100" style="height:12px;background-color: rgba(148, 128, 100,0.6);"></div>
            {% for cmt in bld['comments']%}
                {% if not cmt['is-deleted']%}
                <div class="my-3 py-2 px-2" style="margin-left: {{cmt['layer']*3}}%;">
                    <div class="d-flex align-items-center">
                        <img class="pi-image" src="/static/corner.png" height="16px" width="16px" style="margin-bottom: 14px;">
                        <div class="d-flex justify-content-between w-100">
                            {%if is_likes%}
                                <div id="likes-comments-{{cmt['id']}}" class="d-flex np-font">   
                            {%else%}
                                <div id="comments-{{cmt['id']}}" class="d-flex np-font">    
                            {%endif%}
                                <img 
                                    onclick="window.location.href=`/user/{{cmt['author']['id']}}`"
                                    style="cursor: pointer;"
                                    class="rounded-circle mx-3" 
                                    src="{{cmt['author']['img']}}" 
                                    height="38px">
                                <div>
                                    <div class="d-flex align-items-end">
                                        <span 
                                        onclick="window.location.href=`/user/{{cmt['author']['id']}}`"
                                        style="font-size: 12px; cursor: pointer;">{{cmt['author']['name']}}</span>
                                        <span 
                                            style="
                                            font-size: 12px; 
                                            margin-left:12px;
                                            color: gray;">{{cmt['date']}}</span>
                                    </div>
                                    <span class="np-font" style="white-space: pre-line;">{{cmt['content']}}</span>
                                </div>
                            </div>

                            <div>
                                {% if 'user' in login_session %}
                                {% if cmt['author-id'] == login_session['user']['id'] %}
                                    <a onclick="showConfirmDeleteComment({{cmt['id']}}, {{bld['id']}})"
                                    class="np-font mx-2" style="color: rgb(255,0,0); cursor:pointer">
                                        Delete
                                    </a>
                                {%endif%}
                                {%endif%}

                                {% if 'user' in login_session %}
                                {%if is_likes%}
                                    <a class="np-font" onclick="showReply({{cmt['id']}}, {{bld['id']}}, 'likes')" style="text-decoration: none;cursor: pointer;">Reply
                                    </a>
                                {%else%}
                                    <a class="np-font" onclick="showReply({{cmt['id']}}, {{bld['id']}})" style="text-decoration: none;cursor: pointer;">Reply
                                    </a>
                                {%endif%}
                                
                                {%endif%}

                            </div>
                        </div>
                    </div>
                    {%if is_likes%}
                        <div id="likes-reply-section-{{cmt['id']}}"></div>
                    {%else%}
                        <div id="reply-section-{{cmt['id']}}"></div>
                    {%endif%}
                </div>
                {%else%}
                    <div class="np-font" style="margin-left:  {{1+cmt['layer']*5}}%;"> 
                        <span style="font-style: italic; color:gray;">Deleted Comment</span>
                    </div>
                {%endif%}
                <div class="w-100" style="height:2px;background-color: rgba(148, 128, 100,0.6);"></div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
{%else%}
<div id="no-result" class="n-box np-font">
    No results for your search.
</div>
{%endif%}

<div class="n-box">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            {%if page > 0%}
            <button
                onclick="document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; updateSearchResult({{page-1}}); // For Chrome, Firefox, IE and Opera"  
                class="pi-image"
                onclick="update"
                style="
                        width:36px; height:36px;
                        border:none; 
                        background-color:transparent;
                        background-image: url(/static/Perk_high_gravity.png);
                        ">
            </button>
            {%else%}
            <button
                class="pi-image"
                style="
                        width:36px; height:36px;
                        border:none; 
                        background-color:transparent;
                        background-image: url(/static/Perk_high_gravity.png);
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        "></button>
            {%endif%}
        </div>
        <div class="col-2 np-font d-flex justify-content-center">
            <span>{{page+1}}</span>
        </div>
        <div class="col-md-auto">
            {%if next_page%}
            <button
                onclick="document.body.scrollTop = 0; // For Safari
                document.documentElement.scrollTop = 0; updateSearchResult({{page+1}}); // For Chrome, Firefox, IE and Opera"  
                class="pi-image"
                onclick="update"
                style="
                        width:36px; height:36px;
                        border:none; 
                        background-color:transparent;
                        background-image: url(/static/Perk_low_gravity.png);
                        ">
            </button>
            {%else%}
            <button
                class="pi-image"
                style="
                        width:36px; height:36px;
                        border:none; 
                        background-color:transparent;
                        background-image: url(/static/Perk_low_gravity.png);
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        "></button>
            {%endif%}
        </div>
    </div>
</div>