{% extends "layout.html" %}
{% block title %} Noita Builds{% endblock %}
{%block main%}

<head>
    <link href="/static/spellBorders.css" rel="stylesheet" >
</head>
<style>
    .wand-icon{
        width: 128px; height: 64px;
    }
    .spell-icon-sm{
        width: 32px; height: 32px;
    }

    .spell-icon-lg{
        width: 64px; height: 64px;
    }

    .spell-menu{
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    }

    .spell-item{
        width: 32px; height: 32px;
    }

    .popover{
        padding: 0px;
        text-align: center;
        background-color: black;
        white-space: pre-line;
    }
</style>
<script>
    var addedSpells = []
    const SPELLS = {{spells | tojson}};

    window.onload = (e) => {
        defineSpellsSlots()
        updateDate()
        document.getElementById("build-icon").value = "0000";
        
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    }

    const submit = () => {
        updateDate()
        document.getElementById("form").submit()
    }

    const defineSpellsSlots = () => {
        let amount = document.getElementById('spell-slots-value').value
        document.getElementById('spell-slots').innerHTML = ""

        for (let i=0; i < parseInt(amount); i++){
            if (typeof addedSpells[i] !== 'undefined'){
                document.getElementById('spell-slots').innerHTML += `<div class="spell-slot" onclick="removeSpell(${i})">
                    <div class="pi-image ${SPELLS[addedSpells[i]-1].css_type} spell-item" style="background-size: cover;background-image: url(/static/img/spells/${SPELLS[addedSpells[i]-1].img}"></div>
                </div>`
            } else{
                document.getElementById('spell-slots').innerHTML += `<div class="spell-slot" onclick="removeSlot()"></div>`
            }
        }
        if(amount == 0) {
            document.getElementById('spell-slots').innerHTML += `<span class="np-font" style="position:absolute; text-align:center">No spells slots :(</span>`
        }
        document.getElementById('amount-spell').textContent = "Amount of Spell Slots: " + document.getElementById('spell-slots-value').value
    }
    const addSpell = (index) => { 
        if(addedSpells.length == parseInt(document.getElementById('spell-slots-value').value) && addedSpells.length < 26) {
            document.getElementById('spell-slots-value').value = parseInt(document.getElementById('spell-slots-value').value) + 1
        }
        if(addedSpells.length < 26) {
            addedSpells.push(index)
        }
        document.getElementById('spell-list').value = addedSpells.toString()
        defineSpellsSlots()
    }

    const removeSpell = (index) => {
        addedSpells.splice(index, 1)
        document.getElementById('spell-list').value = addedSpells.toString()
        defineSpellsSlots()
    }
    const removeSlot = () => {
        document.getElementById('spell-slots-value').value = parseInt(document.getElementById('spell-slots-value').value) - 1
        defineSpellsSlots()
    }
    const randomWand = () => {
        var n = Math.floor(Math.random() * 1001).toString().padStart(4, '0');
        document.getElementById("wandImage").style.backgroundImage = `url(/static/img/wands/wand_${n}.png)`;
        document.getElementById("build-icon").value = n;
    }
    const updateDate = () => {
        var date1 = new Date()
        document.getElementById('build-date').value = date1
    }
</script>
<form id="form" method="POST" action="/builds/create" autocomplete="off">
    <div class="n-container n-center align-items-start">
        <div class="n-box">
            <div class="n-column n-center">
                <label for="build-title" class="np-font">Title</label>
                <input id="build-title" name="build-title" type="text" class="np-font n-box" autocomplete="off">
                <br>
                <span class="np-font">Icon</span>
                <div class="n-box">
                    <div id="wandImage" class="pi-image wand-icon" style="background-image: url(/static/img/wands/wand_0000.png);"></div>
                    <a 
                        onclick="randomWand()" 
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-html="true"
                        title="<span class='np-font'>Randomize a wand!</span>">
                        <img class="pi-image" src="/static/img/faster_wands.png" width="24px">
                    </a>
                    <input id="build-icon" name="build-icon" type="text" value="" hidden>
                </div>
                <br>
                <label for="build-description" class="np-font">Description</label>
                <textarea  id="build-description" name="build-description" class="np-font n-box" rows="8" cols="50"></textarea>
            </div>
            <br>
            <span id="amount-spell"class="np-font">Amount of Spell Slots:</span>
            <input id="spell-slots-value" name="spell-slots-value" type="number" value="1" hidden>
            <input id="build-date" name="build-date" type="text" hidden>
            <br> 
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Hooray!">Hover</a>
            <input onclick="submit()" type="button" value="send">
        </div>
    
        
        <div class="n-box n-column p-5" style="width:100%">
            <span class="np-font" style="font-size: 32px;">Insert the wand's spells</span>
            <span class="np-font">Spells</span>
            <input id="spell-list" type="text" name="spell-list" value="" hidden>
            <div id="spell-slots" class="spell-slots-frame n-container n-center">           
            </div>
            <span class="np-font">Spell list</span>
            <div class="spell-menu n-center">
                {% for spell in spells %} 
                    <a 
                        class="spell-item {{spell['css_type']}}" 
                        onclick="addSpell({{loop.index}})">
                        {{spell['img_html'] | safe}}
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
</form>

{%endblock%}