{% extends "layout.html" %}
{% block title %} Noita Builds{% endblock %}
{%block main%}
<head>
    <link href="/static/spellBorders.css" rel="stylesheet" >
</head>
<style>
    .wand-icon{
        width: 128px; height: 64px;
    }
    .spell-icon-sm{
        width: 32px; height: 32px;
    }

    .spell-icon-lg{
        width: 64px; height: 64px;
    }

    .spell-menu{
        width: fit-content;
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: 32px 32px 32px 32px 32px 32px 32px /*32px 32px 32px 32px 32px 32px 32px*/;
        grid-auto-columns: 16px;
    }

    .spell-item{
        width: 32px; height: 32px;
    }

    .popover{
        padding: 0px;
        text-align: center;
        background-color: black;
        white-space: pre-line;
    }

    main{
        margin-left: 4%;
        margin-right: 4%;  
    }
</style>

<script>
    var page = 0
    var addedSpells = []
    const SPELLS = {{spells | tojson}};

    const getSearchResult = () => {
        var spells =  document.getElementById('spell-list').value
        var slots =  document.getElementById('spell-slots-value').value
        slots = parseInt(slots)
        
        if(slots>26){
            slots = 26
        }
        
        fetch(`getBuildBySpell/${page}`, {
            method: "POST",
            body: JSON.stringify({
                spells: spells,
                slots: parseInt(slots)
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(response => {
            return response.text();
        })
        .then(html =>  {
            document.getElementById("builds-result").innerHTML = html
            var formsCollection = document.getElementsByTagName("form");

            for(var i=0;i<formsCollection.length;i++)
            {
                formsCollection[i].addEventListener("submit", addComment,{ once: false })
            }

            document.getElementById('loading-build').style.display = 'none'
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })

            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        })
    }

    const addSpell = (index) => { 
        if(addedSpells.length == parseInt(document.getElementById('spell-slots-value').value) && addedSpells.length < 26) {
            document.getElementById('spell-slots-value').value = parseInt(document.getElementById('spell-slots-value').value) + 1
        }
        if(addedSpells.length < 26) {
            addedSpells.push(index)
        }
        document.getElementById('spell-list').value = addedSpells.toString()
        defineSpellsSlots()
    }

    const removeSpell = (index) => {
        addedSpells.splice(index, 1)
        document.getElementById('spell-list').value = addedSpells.toString()
        defineSpellsSlots()
    }

    const removeSlot = () => {
        document.getElementById('spell-slots-value').value = parseInt(document.getElementById('spell-slots-value').value) - 1
        defineSpellsSlots()
    }

    const defineSpellsSlots = () => {
        let amount = document.getElementById('spell-slots-value').value
        document.getElementById('spell-slots').innerHTML = ""

        for (let i=0; i < parseInt(amount); i++){
            if (typeof addedSpells[i] !== 'undefined'){
                document.getElementById('spell-slots').innerHTML += `<div class="spell-slot" onclick="removeSpell(${i})">
                    <div class="pi-image ${SPELLS[addedSpells[i]-1].css_type} spell-item" style="background-size: cover;background-image: url(/static/img/spells/${SPELLS[addedSpells[i]-1].img}"></div>
                </div>`
            } else{
                document.getElementById('spell-slots').innerHTML += `<div class="spell-slot" onclick="removeSlot()"></div>`
            }
        }
        if(amount == 0) {
            document.getElementById('spell-slots').innerHTML += `<span class="np-font" style="position:absolute; text-align:center">No spells slots :(</span>`
        }
    }

    {% if "user" in login_session %}
    const sendReply = (id_parent, id_build) => {
        var date1 = new Date()
        document.getElementById('date-reply-'+id_parent).value = date1
        var date = document.getElementById('date-reply-'+id_parent).value
        var comment = document.getElementById(`text-reply-${id_parent}`).value

        fetch(`/addReply/${id_build}/${id_parent}`, {
            method: "POST",
            body: JSON.stringify({
                comment: comment,
                date: date
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(() => {
            document.getElementById(`reply-section-${id_parent}`).innerHTML == ""
            getSearchResult()
        })
    }
    
    const showReply = (id_comment, id_build) => {
        if (document.getElementById(`reply-section-${id_comment}`).innerHTML == ""){
            document.getElementById(`reply-section-${id_comment}`).innerHTML =
            `
            <form id="form-reply-${id_comment}" class="d-flex align-items-center m-4" action="javascript:void(0);">
                <img class="rounded-circle mx-3" src="{{login_session['user']['img']}}" height="48px">
                <div class="w-100 mx-2">
                    <textarea
                        id="text-reply-${id_comment}"
                        name="reply"
                        oninput="auto_grow(this)"
                        class="np-font mx-2 w-100" 
                        style="resize: none;box-shadow: 0 3px 0 #948064; background-color:rgba(60, 60, 60, 0.7); color:white;" 
                        placeholder="Write your reply!"
                        rows="1"
                        maxlength="400"></textarea>
                
                    <span id="text-reply-${id_comment}-warning" class="np-font mx-2 " style="color:rgba(198,59,59,0.7)"></span>
                </div>
                <input id="date-reply-${id_comment}" type="text" name='date' hidden>
                <input  
                    onclick="sendReply(${id_comment}, ${id_build})"
                    class="pi-image n-submit"
                    type="button" 
                    style="
                        width:36px; height:36px;
                        border:none; 
                        background-color:transparent;
                        background-image: url(/static/send.png);
                        "
                    value="">
            </form>
            `
        } else {
            document.getElementById(`reply-section-${id_comment}`).innerHTML = ""
            getSearchResult()
        }
    }

    const addComment = function(ev) {
        ev.preventDefault()
        var date1 = new Date()
        document.getElementById('date-'+this.id).value = date1
        var date = document.getElementById('date-'+this.id).value
        var comment = document.getElementById(`comment-${this.id}`).value
        
        fetch(`/addComment/${this.id}`,{
            method: "POST",
            body: JSON.stringify({
                comment: comment,
                date: date
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(response => {
            getSearchResult()
        })  
    }

    const removeComment = (call) => {
        fetch(call,{
            method: "GET",
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(response => {
            document.getElementById('delete-comment-warning').style.display = 'none'
            getSearchResult()
        })
    }

    const updateLike = (call) => {
        fetch(call,{
            method: "GET",
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(response => {
            getSearchResult()
        })
    }

    const showConfirmDeleteComment = (id_comment, id_build) => {
        comment = document.getElementById("comments-"+id_comment).cloneNode(true)
        comment.classList.add("n-box")
        comment_html = comment.outerHTML

        document.getElementById("delete-comment-warning").innerHTML =
        `
        <div class="n-box">
            ${comment_html}
            <div style="text-align:center;">
                <span>Are you sure you want to delete this comment?</span>
            </div>
            <div class="d-flex justify-content-center">
                <a 
                    onclick="removeComment('/removeComment/${id_comment}?buildID=${id_build}')"
                    class="n-box" 
                    style="background-color: rgba(198,59,59,0.7); cursor:pointer;">
                    <span>Delete Comment</span>
                </a>

                <div 
                    class="n-box"
                    style="cursor:pointer;"
                    onclick="document.getElementById('delete-comment-warning').style.display = 'none';"
                    >Cancel</div>
                </div> 
            </div>
        `

        document.getElementById("delete-comment-warning").style.display = "flex"
    }

    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
        if(element.value.length == 400){
            document.getElementById(element.id+"-warning").innerHTML = `You reached the size limit!`
        } else if(element.value.length > 379){
            document.getElementById(element.id+"-warning").innerHTML = `You are reaching the size limit! Remaining: ${400-element.value.length}`
        } else {
            document.getElementById(element.id+"-warning").innerHTML = ""
        }
      }
    {%endif%}
</script>

<div class="d-flex justify-content-center">
    <div class="n-box d-flex flex-column align-items-center">
        <input id="spell-list" type="text" name="spell-list" value="" hidden>
        <label class="np-font" for="spell-slots-value">Size of wand: </label>
        <input id="spell-slots-value" name="spell-slots-value" type="number" value="1">
        <br>
        <span class="np-font">Spells</span>
        <div id="spell-slots" class="spell-slots-frame">           
        </div>
        <a
            onclick="getSearchResult()"
            style="cursor:pointer;">
            <img class="pi-image" src="/static/search.png" height="64" width="64">
        </a>

        <div id="builds-result"></div>
    </div>
    
    <div class="n-box text-center">
        <span class="np-font">Spells list</span>
        <div class="spell-menu n-center">
            {% for spell in spells %} 
            <a 
            class="spell-item {{spell['css_type']}}" 
            onclick="addSpell({{loop.index}})">
            {{spell['img_html'] | safe}}
            </a>
            {% endfor %}
        </div>
    </div>

    <aside id="delete-comment-warning" class="warning-screen np-font" style="display:none">
    </aside>
</div>
{% endblock %}