{% extends "layout.html" %}
{% block title %} Noita Builds{% endblock %}
{%block main%}
<head>
    <link href="/static/spellBorders.css"  rel="stylesheet" >
</head>
<style>
    .wand-icon{
        width: 128px; height: 64px;
    }
    .spell-icon-sm{
        width: 32px; height: 32px;
    }

    .spell-icon-lg{
        width: 64px; height: 64px;
    }

    .spell-menu{
        display: grid;
        row-gap: 8px;
        column-gap: 8px;
        grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px 32px;
    }

    .spell-item{
        width: 32px; height: 32px;
    }

    .popover{
        padding: 0px;
        text-align: center;
        background-color: black;
        white-space: pre-line;
    }
    #search-box{
        transition: .3px;
    }

    .nav .nav-link, .active {
        color: white;
      }
</style>

<script>
    var id_user = {{user['id']}};
    var current_page = 0
    window.onload = (e) => {
        updateSearchResult(current_page)
    }

    const updateSearchResult = (page) => {
        current_page = page
        getSearchResult(current_page)
    }

    const getSearchResult = (page) => {
        fetch(`/getUserLikes/${id_user}/${page}`, {
            method: "GET"
        })
        .then(response => {
            return response.text();
        })
        .then(html =>  {
            if(!html.includes(`id="no-result"`)){
                document.getElementById("nav-like").innerHTML = html
            } else {
                document.getElementById("nav-like").innerHTML = `<span class="np-font m-5">Wow, such <img src="/static/img/spells/42px-Spell_air_bullet.png"></span>`
            }
            fetch(`/getUserBuilds/${id_user}/${current_page}`, {
                method: "GET"
            })
            .then(response => {
                return response.text();
            })
            .then(html =>  {
                if(!html.includes(`id="no-result"`)){
                    document.getElementById("nav-build").innerHTML = html
                } else {
                    document.getElementById("nav-build").innerHTML = `<span class="np-font m-5">Wow, such <img src="/static/img/spells/42px-Spell_air_bullet.png"></span>`
                }
                var formsCollection = document.getElementsByTagName("form");
                for(var i=0;i<formsCollection.length;i++)
                {
                    formsCollection[i].addEventListener("submit", addComment,{ once: false })
                }

                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                })

                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            })
        })
    }

    {% if "user" in login_session %}

    const sendReply = (id_parent, id_build) => {
        var date1 = new Date()
        document.getElementById('date-reply-'+id_parent).value = date1
        var date = document.getElementById('date-reply-'+id_parent).value
        var comment = document.getElementById(`text-reply-${id_parent}`).value

        fetch(`/addReply/${id_build}/${id_parent}`, {
            method: "POST",
            body: JSON.stringify({
                comment: comment,
                date: date
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(() => {
            document.getElementById(`reply-section-${id_parent}`).innerHTML == ""
            updateSearchResult(current_page)
        })
    }
    
    const showReply = (id_comment, id_build, type="") => {
        if(type == "likes"){
            reply_section = document.getElementById(`likes-reply-section-${id_comment}`)
        } else {
            reply_section = document.getElementById(`likes-reply-section-${id_comment}`)
        }

        if (reply_section.innerHTML == ""){
            reply_section.innerHTML =
            `
            <form id="form-reply-${id_comment}" class="d-flex align-items-center m-4" action="javascript:void(0);">
                <img class="rounded-circle mx-3" src="{{login_session['user']['img']}}" height="48px">
                <div class="w-100 mx-2">
                    <textarea
                        id="text-reply-${id_comment}"
                        name="reply"
                        oninput="auto_grow(this)"
                        class="np-font mx-2 w-100" 
                        style="resize: none;box-shadow: 0 3px 0 #948064; background-color:rgba(60, 60, 60, 0.7); color:white;" 
                        placeholder="Write your reply!"
                        rows="1"
                        maxlength="400"></textarea>
                
                    <span id="text-reply-${id_comment}-warning" class="np-font mx-2 " style="color:rgba(198,59,59,0.7)"></span>
                </div>
                <input id="date-reply-${id_comment}" type="text" name='date' hidden>
                <input  
                    onclick="sendReply(${id_comment}, ${id_build})"
                    class="pi-image n-submit"
                    type="button" 
                    style="
                        width:36px; height:36px;
                        border:none; 
                        background-color:transparent;
                        background-image: url(/static/send.png);
                        "
                    value="">
            </form>
            `
        } else {
            document.getElementById(`reply-section-${id_comment}`).innerHTML = ""
            updateSearchResult(current_page)
        }
    }

    const addComment = function(ev) {
        ev.preventDefault()
        id = this.id
        if(id.includes("likes")){
            id = id.replace("likes-", "")
            var date1 = new Date()
            document.getElementById('likes-date-'+id).value = date1
            var date = document.getElementById('likes-date-'+id).value
            var comment = document.getElementById(`likes-comment-${id}`).value
        } else {
            id = id.replace("likes-", "")
            var date1 = new Date()
            document.getElementById('date-'+id).value = date1
            var date = document.getElementById('date-'+id).value
            var comment = document.getElementById(`comment-${id}`).value
        }

        fetch(`/addComment/${id}`,{
            method: "POST",
            body: JSON.stringify({
                comment: comment,
                date: date
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(() => {
            updateSearchResult(current_page)
        })  
    }

    const removeComment = (call) => {
        fetch(call,{
            method: "GET",
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(() => {
            document.getElementById('delete-warning').style.display = 'none'
            updateSearchResult(current_page)
        })
    }

    const updateLike = (call) => {
        fetch(call,{
            method: "GET",
            headers: {
                'Content-type': 'application/json; charset=UTF-8',
            }
        })
        .then(response => {
            updateSearchResult(current_page)
        })
    }

    const showConfirmDeleteComment = (id_comment, id_build) => {
        comment = document.getElementById("comments-"+id_comment).cloneNode(true)
        comment.classList.add("n-box")
        comment_html = comment.outerHTML

        document.getElementById("delete-warning").innerHTML =
        `
        <div class="n-box">
            ${comment_html}
            <div style="text-align:center;">
                <span>Are you sure you want to delete this comment?</span>
            </div>
            <div class="d-flex justify-content-center">
                <a 
                    onclick="removeComment('/removeComment/${id_comment}?buildID=${id_build}')"
                    class="n-box" 
                    style="background-color: rgba(198,59,59,0.7); cursor:pointer;">
                    <span>Delete Comment</span>
                </a>

                <div 
                    class="n-box"
                    style="cursor:pointer;"
                    onclick="document.getElementById('delete-warning').style.display = 'none';"
                    >Cancel</div>
                </div> 
            </div>
        `

        document.getElementById("delete-warning").style.display = "flex"
    }

    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
        if(element.value.length == 400){
            document.getElementById(element.id+"-warning").innerHTML = `You reached the size limit!`
        } else if(element.value.length > 379){
            document.getElementById(element.id+"-warning").innerHTML = `You are reaching the size limit! Remaining: ${400-element.value.length}`
        } else {
            document.getElementById(element.id+"-warning").innerHTML = ""
        }
      }

      function showDeleteBuild(build_id){
        build = document.getElementById("build-"+build_id).cloneNode(true)

        //im so sorry future person
        //REMOVES THE COMMENT SECTION
        build.children[0].children[3].innerHTML = ""
        //REMOVES THE DELETE BUILD BUTTON
        build.children[0].children[0].children[2].innerHTML = ""
        //REMOVE THE LIKE BUTTON FUNCTIONALITY
        build.children[0].children[1].children[2].style.cursor = ""
        build.children[0].children[1].children[2].setAttribute('onclick', '')

        build.classList.add("n-box")
        build_html = build.outerHTML

        document.getElementById("delete-warning").innerHTML =
        `
        <div class="n-box">
            ${build_html}
            <div style="text-align:center;">
                <span>Are you sure you want to delete this build?</span>
            </div>
            <div class="d-flex justify-content-center">
                <a 
                    onclick="deleteBuild(${build_id})"
                    class="n-box" 
                    style="background-color: rgba(198,59,59,0.7); cursor:pointer;">
                    <span>Delete Build</span>
                </a>

                <div 
                    class="n-box"
                    style="cursor:pointer;"
                    onclick="document.getElementById('delete-warning').style.display = 'none';"
                    >Cancel</div>
                </div> 
            </div>
        `

        document.getElementById("delete-warning").style.display = "flex"
    }

    function deleteBuild(id) {
        fetch(`/deleteBuild/${id}`,{
            method: "POST"
        })
        .then(response =>{
            return response.text();
        })
        .then(html => {
            document.getElementById('delete-warning').style.display = 'none'
            updateSearchResult(current_page)
        })
    }
    {%endif%}
</script>


<div class="n-box">
    <div class="n-box">
        <img class="rounded-circle" src="{{user['img']}}" height="128px">
        <span class="np-font mx-3">{{user['name']}}</span>
    </div>

    <div class="mx-2">
        <div class="nav nav-tabs np-font" style="color: white;" id="nav-tab" role="tablist">
        <button 
            onclick="updateSearchResult(0)"
            style="width:50%" class="nav-link active" id="nav-builds-tab" data-bs-toggle="tab" data-bs-target="#nav-build" type="button" role="tab" aria-controls="nav-build" aria-selected="true">
            Builds
        </button>
        <button 
            onclick="updateSearchResult(0)" 
            style="width:50%" class="nav-link" id="nav-like-tab" data-bs-toggle="tab" data-bs-target="#nav-like" type="button" role="tab" aria-controls="nav-like" aria-selected="false">
            Liked
        </button>
        </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-build" role="tabpanel" aria-labelledby="nav-builds-tab">
            <span class="np-font m-5">Wow, such <img src="/static/img/spells/42px-Spell_air_bullet.png"></span>
        </div>
        <div class="tab-pane fade" id="nav-like" role="tabpanel" aria-labelledby="nav-like-tab">
            <span class="np-font m-5">Wow, such <img src="/static/img/spells/42px-Spell_air_bullet.png"></span>
        </div>
    </div>
    <aside id="delete-warning" class="warning-screen np-font" style="display:none">
    </aside>
</div>
{% endblock %}